/* Fondo oscuro */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Caja del modal */
.modal-content {
  background: white;
  padding: 25px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  position: relative;
  animation: aparecer 0.15s ease-out;
}

@keyframes aparecer {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.modal-title {
  text-align: center;
  margin-bottom: 20px;
}

/* Lista */
.modal-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.modal-item {
  display: flex;
  justify-content: space-between;
  background: #f9fafb;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  align-items: center;
}

/* Botón eliminar */
.btn-eliminar {
  background: white;
  border: none;
  padding: 6px 10px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
}

.btn-eliminar:hover {
  background:white;
}

/* Total */
.modal-total {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Botón vaciar */
.btn-vaciar {
  background: #e11d48;
  width: 100%;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn-vaciar:hover {
  background: #be123c;
}

/* Botón cerrar */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgb(0, 136, 255)!important;
  color: white;
  border: none;
  padding: 5px 9px;
  border-radius: 6px;
  cursor: pointer;
}

.modal-close:hover {
  background: rgb(0, 136, 255) !important;
}

.modal-vacio {
  text-align: center;
}
