.navbar {
  background-color: #333;
  padding: 12px 20px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s;
}

.navbar a:hover {
  color: #60a5fa;
}


@media (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }
}