.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.productos-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.titulo {
  text-align: center;
  margin-bottom: 25px;
}